@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root {
    --bkg-color: #c3deea;
    --box-color: #eff5f9;
    --box-shadow:
         3px  3px 10px #0001,
        -3px -3px 10px #0001;
}

body {
    background: fixed repeat top/5rem url(/background.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Inter, sans-serif;
}
p {
    margin-bottom: .5em;
}
h1 { font-size: 1.7rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.3rem; }
h2,h3,h4,h5 { margin-bottom: .5em; }
