@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root {
  --box-color: #eff5f9;
  --box-shadow:
       3px  3px 10px #0001,
       -3px -3px 10px #0001;
  --font-color: black;
  --link-color: blue;
}
#app {
    background: fixed repeat top/12rem url(/background.png);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    font-family: Inter, sans-serif;
}
#app.dark {
    --box-color: #333;
    --font-color: #ddd;
    --link-color: #28d;
    background: fixed repeat top/12rem url(/background-dark.png);
    color: var(--font-color);
}
p {
    margin-bottom: 1em;
    line-height: 1.2em;
    text-align: left;
    max-width: 40ch;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    margin-bottom: .5em;
}
h1 { margin-bottom: 0; }
h1 { font-size: 1.7rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.3rem; }
button {
    padding: .4em .6em;
    font-size: 1.2em;
    font-weight: bold;
    background: white;
    border: none;
    box-shadow: var(--box-shadow);
    outline: solid #ddd 2px;
}
button:hover {
    cursor: pointer;
    text-decoration: underline;
}
:is(header,main,footer) > section {
     background: var(--box-color);
     padding: 1rem;
     margin: 1em;
     border-radius: .5em;
     box-shadow: var(--box-shadow);
     max-width: calc(100vw - 4em);
}
